<%- model_class = Indexfilter -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:script) %></th>
      <th><%= model_class.human_attribute_name(:platform) %></th>
      <th><%= model_class.human_attribute_name(:samplecount) %></th>
      <th><%= model_class.human_attribute_name(:wincount) %></th>
      <th><%= model_class.human_attribute_name(:losscount) %></th>
      <th><%= model_class.human_attribute_name(:marketdatecount) %></th>
      <th><%= model_class.human_attribute_name(:summary) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @indexfilters.each do |indexfilter| %>
      <tr>
        <td><%= link_to indexfilter.id, indexfilter_path(indexfilter) %></td>
        <td><%= indexfilter.name %></td>
        <td><%= indexfilter.script %></td>
        <td><%= indexfilter.platform %></td>
        <td><%= indexfilter.samplecount %></td>
        <td><%= indexfilter.wincount %></td>
        <td><%= indexfilter.losscount %></td>
        <td><%= indexfilter.marketdatecount %></td>
        <td><%= indexfilter.summary %></td>
        <td><%=l indexfilter.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_indexfilter_path(indexfilter), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      indexfilter_path(indexfilter),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_indexfilter_path,
            :class => 'btn btn-primary' %>
